body {
  background-color: #f7fafc;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.text-center {
  text-align: center;
  width: 100%;
  max-width: 28rem;
}

h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

input#search-box {
  width: 100%;
  padding: 0.75rem;
  font-size: 1.125rem;
  border: 1px solid #d1d5db;
  border-radius: 9999px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

input#search-box:focus {
  outline: none;
  box-shadow: 0 0 0 2px #3b82f6;
}

ul#results {
  margin-top: 2rem;
}

ul#results>*+* {
  margin-top: 1rem;
}

ul#results li {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}